*, h3 {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
}


.contentLogin{
    width: 100%;
    height: 100%;
}

/*Css para a pagina do admin*/

/*Css da página do login*/
.contentLogin {
    background-color: #9fc5f8;
    position: relative;
}

.contentLogin,
.loginPage,
.mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logotype {
    height: auto;
    display: flex;
    align-items: center;
}

.logotype > img {
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.group-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginPage {
    top: 20vh;
    position: absolute;
}

.mainBox {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    width: auto;
    height: auto;
    background-color: #eeeeee;
    justify-content: center;
    padding: 30px 60px;
}

#alert-container {
    width: 280px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.mainBox > form > input {
    border-radius: 4px;
    padding: 0 3px;
    width: 280px;
    margin-bottom: 15px;
    font-size: 17px;
}

/* Css de layout */

.header {
     width: 100vw;
     height: 9vh;
 }

.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

#menu-button {
    height: 50px;
    width: 50px;
    font-size: 35px;
    border: none;
    background-color: transparent;
}

#menu-button:hover {
    background-color: rgb(0, 208, 255);
}

#menu-button.active:hover {
    background-color: #a5a5a5;
}

.panel-default,
.panel-heading {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    min-height: 50px;
}

.panel-default > .panel-heading {
    background-color: #e0e0e0;
    display: flex;
}

.menu {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    width: 5vw;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fc5f8;
}

.mainfragment {
    height: 91vh;
    width: 100vw;
    display: flex;
}

#list-menu {
    display: block;
    background-color: #9fc5f8;
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 100%;
    min-width: 50px;
}

.content {
    box-sizing: border-box;
    width: 95vw;
    height: 100%;
    padding: 10px 30px 10px 30px;
    overflow: auto;
}

.option_container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.large_icon {
    width: 45px;
    height: 45px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large_icon > a,
.large_icon > a > img {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.above {
    margin-bottom: 25px;
}

.head_items {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    padding: 0 40px;
}

.head_login_info,
.head_search {
    display: flex;
    align-items: center;
}

.input_search {
    width: 26vw;
    height: 35px;
    border-radius: 15px;
    padding: 0 10px;
}

.icone-usuario {
    margin-left: 10px;
    font-size: 40px;
}

/**Css HomePage*/
.analytics-resume,
.last_orders,
.last_additions{
    box-sizing: border-box;
}

.last_orders h3,
.content-data h3,
.last_additions h3,
.analytics_info h3{
    margin-bottom: 5px;
    font-size: 3rem;
}

.additions,
.analytics-resume {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

#nextProduct, #prevProduct,
#nextOrder, #prevOrder{
    display: none;
}

.vega-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.productDetails {
    height: 450px;
    border-radius: 10px;
    background-color: ghostwhite;
    box-sizing: border-box;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.productDetails > .contentRelative {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentRelative > .imagDiv {
    width: 100%;
    height: 45%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.imagDiv > img {
    width: 100%;
    height: 100%;
}

.contentRelative > .productInfos {
    box-sizing: border-box;
    width: 100%;
    height: 55%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.productInfos > .price {
    font-size: 30px;
    font-weight: bold;
    color: rgb(213, 34, 34);
}

.productInfos > .productName {
    box-sizing: border-box;
    height: 60px;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
}

.productInfos > .productCategory,
.productInfos > .productProvider {
    max-height: 43px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    margin: 5px 0 5px 0;
}

.categoryDiv {
    text-align: left;
    padding-left: 2px;
}

.category {
    font-weight: 600;
}

.containerButtons {
    position: relative;
    top: -45px; /* Ajuste a posição conforme necessário */
    z-index: 2;
    margin-top: auto;
}

.buttonsOrg {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

/* css da pagina de adicionar produto */
.productRegister {
    display: flex;
    justify-content: center;
}

.productRegister h2 {
    text-align: center;
    margin-bottom: 20px;
}

#register {
    padding: 20px;
    background: ghostwhite;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#register h2 {
    margin: 0;
}

#register label {
    font-weight: bold;
    font-size: 15px;
}

.management {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.content-data h1,
.analytics h1,
.containerProductDetails h1 {
    font-size: max(2.4vw, 30px);
    margin-top: 0;
}

.management .productDetails {
    height: 450px;
}

.btn-add-product {
    margin-bottom: 15px;
    box-shadow: 8px 5px 5px rgb(70, 69, 69);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    background: ghostwhite;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.table th {
    font-size: 17px;
    color: #8d8d8d;
}

.table .destaque, .table .geral {
    font-weight: bold;
    font-size: 15px;

}

.table .geral {
    color: #8d8d8d;
}

.table .status {
    border: 1px solid #0d8dc5;
    border-radius: 15px;
    background-color: #d3efff;
    height: 23px;
    width: 90px;
    text-align: center;
}

.orderDetailsPage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.containerOrder {
    display: flex;
    gap: 2rem;
}

.orderDetails {
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    flex: 7 1 0;
    padding: 20px;

    & h3 {
        margin: 0 0 8px 0;
    }
}

.publish {

    border: 1px solid #b7b7b7;
    flex: 1 1 0;
    height: 130px;

    & h4 {
        margin: 0;
    }

    .h4 {
        margin: 0;
        border-bottom: 1px solid #b7b7b7;
        padding: 8px;
    }

    .buttons {
        padding: 8px;
    }

    .btn {
        width: 100%;
    }

    .btn-success {
        margin-bottom: 8px;
    }

}

.dataGeneral {
    width: 100%;
    display: flex;
    gap: 4rem;
}

.dataGeneral h4 {
    font-weight: bold
}

.orderData, .deliveryAddress {
    flex: 1 1 0;
}

.deliveryAddress label {
    margin-bottom: 12px;
}

.selectedProduct {
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    padding: 20px;

    .span {
        max-width: 280px;
    }
}

.containerProductDetails {
    width: 100%;
    box-sizing: border-box;
}

.compartment1 {
    display: flex;
    gap: 3rem;
}

.compartmentImage {
    border-radius: 10px;
    background: ghostwhite;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compartmentImage img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%
}

.compartmentData {
    background: ghostwhite;
    border-radius: 10px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
    flex: 1 1 0;
    font-size: 17px;
    color: #8d8d8d;
}

.product-description {
    margin-top: 20px;
    font-size: 19px;
    color: #8d8d8d;
}

.textareaDetails {
    background: ghostwhite;
}

.analytics-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.analytics-container h3 {
    font-size: max(1.5vw, 23px);
    font-weight: bold;
    font-family: Algerian, serif;
    margin-bottom: 5px;
}

.analytics-group {
    box-sizing: border-box;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pie-info {
    border-radius: 10px;
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
    background: ghostwhite;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;

}

.pie-chart,
.vega-chart
{
    border-radius: 10px;
    flex: 1;
    box-sizing: border-box;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: ghostwhite;
}


.pie-info > table {
    width: 100%;
}

.pie-info > table tr th:first-child,
.pie-info > table tr td:first-child {
    text-align: left;
}

.pie-info > table tr th:last-child,
.pie-info > table tr td:last-child {
    text-align: right;
}

.pie-info > table tr td {
    font-size: 2rem;
}

.pie-info > table tr th {
    font-size: max(1.5vw, 23px);
    font-weight: bolder;
}

@media (max-width: 1340px) {
    .management,
    .additions
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .management,
    .additions
    {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 900px) {

    .table{
        background: unset;
        box-shadow: unset;
    }

    .analytics-group {
        flex-direction: column;
    }

    .pie-chart,
    .vega-chart{
        min-height: calc(30vh - (15px / 2));
    }

    .table thead {
        display: none;
    }

    .table tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .table tbody tr {
        margin: 0 5px 20px 0;
        display: block;
        background: ghostwhite;
        border-radius: 10px;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        overflow: hidden;
        width: calc(50% - 10px);
    }

    .table tbody tr td:before {
        content: attr(data-title);
        position: absolute;
        left: 10px;
        display: block;
    }

    .content-data table tbody tr td,
    .last_orders table tbody tr td
    {
        text-align: right;
    }

    .compartmentData{
        background: none;
        box-shadow: none;
    }

    .compartmentData table tbody tr td,
    .compartmentData table tbody tr td,
    .content-data table tbody tr td,
    .last_orders table tbody tr td
    {
        display: block;
        position: relative;
    }

    .status {
        margin-left: auto;
    }

    .status p {
        margin: 0
    }

    .compartment1{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .management{
        grid-template-columns: repeat(2, 1fr);
    }

    .additions,
    .orders-5 .table,
    .orders-5 .table tbody{
        position: relative;
        height: 450px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orders-5{
        position: relative;
    }

    .orders-5 .table,
    .orders-5 .table tbody{
        height: 300px;
    }

    .productItem,
    .orders-5 .table tbody tr{
        position: absolute;
        width: 280px;
        transition: 0.5s;
        height: 98%;
    }

    .orders-5 .table tbody tr{
        height: auto;
        margin: 0;
    }

    #nextProduct, #prevProduct,
    #nextOrder, #prevOrder{
        position: absolute;
        top: 40%;
        color: #fff;
        background-color: #8a7171;
        border: none;
        height: 100px;
        width: 30px;
        font-size: xxx-large;
        font-family: monospace;
        font-weight: bold;
        left: 0;
        display: unset;
        z-index: 2;
        opacity: 0.7;
    }
    #nextProduct, #nextOrder{
        left: unset;
        right: 0;
    }
}

@media (max-width: 600px) {
    .content-data .table tbody tr{
        width: 100%;
    }

    .management{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-product{
        width: 300px;
    }
}

@media (max-width: 550px) {

}

@media (max-width: 480px) {
    .productItem{
        width: 260px;
        height: 420px;
    }

    .orders-5 .table tbody tr{
        width: 260px;
    }
}

@media (max-width: 430px) {
    .mainBox{
        width: 90vw;
    }

    .mainBox > form > input{
        width: 250px;
    }

    #register{
        width: 300px;
    }
}














